.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centre3 {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1.5%;
}

.neutre {
  text-decoration: none;
  color: black;
}

.centre2 {
  display: flex;
  align-items: center;
}

.centre_left {
  display: flex;
}
.low_marg_top {
  margin-top: 0.5em;
}

body {
  margin-left: 2em;
  margin-right: 2em;
  font-family: "Raleway", sans-serif;
  /* font-weight: bold; */
  margin-top: 0;
  margin-bottom: 0;
}
/* classe du header */
header {
  position: relative;
  height: 5em;
}

.bold {
  font-weight: bold;
}

.logo {
  position: absolute;
  bottom: 0;
  height: 3em;
}

.menuhaut,
.inscrire {
  float: right;
  width: auto;
  margin-top: 2%;
}

.menu,
.inscrire {
  display: flex;
}

.menu li,
.inscrire li {
  display: inline;
}
.low_marg_top2 {
  margin-top: 3%;
}

.menu li a,
.inscrire li a {
  padding: 40px 20px;
  color: black;
  text-decoration: none;
}

.menu a:hover,
.inscrire a:hover {
  border-top: 1px solid #0065fc;
  color: blue;
}

#menuhebergement,
#apropo,
#assistance {
  float: left;
  margin-right: 18%;
  list-style: none;
}

#apropo li a,
#menuhebergement li a,
#assistance li a {
  text-decoration: none;
  font-weight: bold;
}

#apropo li,
#menuhebergement li,
#assistance li {
  margin-bottom: 10px;
}

/* barre de recherche  */
.Recherche {
  width: auto;
  height: auto;
  margin-bottom: 2%;
}

.barre_cmpt {
  width: 19em;
  margin-top: 1em;
}

.loc {
  width: 3em;
  height: 3em;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
}

.search {
  height: 3em;
  width: 15em;
}

.submit {
  height: 2em;
}

.bt {
  height: 3em;
  border-radius: 0 10px 10px 0;
  border: 0;
  background-color: #0065fc;
  color: white;
}

/* classe pour filtre */

.bandeau_filtre {
  height: auto;
}

.size_filtre {
  width: auto;
  height: 2em;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.border_filtre {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 20px;
  border-left-style: none;
}

.border_icone {
  background-color: #deebff;
  width: 4em;
  height: 2.2em;
  border-radius: 1em;
}

.color_bl {
  color: #0065fc;
}

.txt_filtre {
  padding-right: 10%;
  padding-left: 8%;
}

.i_size {
  width: 1.5em;
  height: 1.5em;
  border-color: gray;
  border-width: 1px;
  justify-content: center;
  border-style: solid;
  border-radius: 1em;
}

.border_filtre:hover {
  box-shadow: 3px 2px 1px blue;
  /* 0 0 7 #c1c1c1 */
}

.ver {
  margin-left: 1em;
}

/* classe pour hebergement */

.hebergement_mars {
  height: 100%;
  width: 70%;
  background-color: #f2f2f2;
  padding: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  border-radius: 1em;
}

.size_hebergement {
  width: 29.7%;
  height: 10%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.4em;
  border-radius: 1em;
  margin: 1%;
}

.titre_hebergement {
  height: 1em;
  width: 100%;
}

.flexbox_warp {
  display: flex;
  flex-wrap: wrap;
}

.size_image {
  height: 12em;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
  width: 100%;
}

.grey {
  color: grey;
}

/* classe pour les plus populaire  */

.populaire {
  background-color: #f2f2f2;
  width: 30%;
  height: 100%;
  float: right;
  padding: 2%;
  border-radius: 1em;
}
.logo_populaire {
  float: right;
  margin: 0.83em;
  font-size: 1.5em;
  height: 1em;
}

.flex_colum {
  display: flex;
  flex-direction: column;
}

.size_image_pop {
  height: 11em;
  width: 50%;
  object-fit: cover;
  border-radius: 1em 0 0 1em;
}

.size_populaire {
  width: 97%;
  height: 10%;
  background-color: white;
  padding: 0.2em;
  border-radius: 1em;
  margin: 1%;
  margin-bottom: 5%;
  display: flex;
}

.star_pop {
  margin-top: 5em;
}

.txt_pop {
  padding: 5%;
  padding-bottom: 0;
}

/* classe pour les activiter  */

.Activiter {
  height: 45em;
  /*grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);*/
}
.grid {
  display: grid;
  height: 90%;
  grid-auto-columns: minmax(20%, 25%);
  grid-auto-rows: minmax(8%, 10%);
  row-gap: 4%;
  column-gap: 2%;
  padding-right: 2%;
}

.size_act {
  border-radius: 1em;
  box-shadow: 7px 7px 15px 4px #c1c1c1;
}
.port {
  grid-column: 1;
  grid-row: 1/10;
}

.fort {
  grid-column: 2;
  grid-row: 1/7;
}

.parc_nat {
  grid-column: 3;
  grid-row: 1/10;
}

.la_garde {
  grid-column: 4;
  grid-row: 1/5;
}

.iles {
  grid-column: 2;
  grid-row: 7/10;
}

.parc_long {
  grid-column: 4;
  grid-row: 5/10;
}

.img_act {
  height: 89%;
  width: 100%;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}
.img_act2 {
  width: 100%;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
  height: 94%;
}
.img_act3 {
  height: 81%;
  width: 100%;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}
.img_act4 {
  height: 91%;
  width: 100%;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}
.img_act5 {
  height: 85%;
  width: 100%;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}
/* pied de page */
footer {
  margin-top: 2%;
  height: 216px;
  background-color: #f2f2f2;
}

.menubas li a {
  color: black;
  text-decoration: none;
}

h1 {
  font-weight: 900 bold;
  margin-bottom: 0.2em;
}
h4 {
  margin: 0;
}
p {
  margin: 0;
}

.search {
  height: 3em;
  width: 11em;
}

.search_ {
  border: 0;
  height: 3em;
}

.sec_menubas {
  font-weight: 900;
  margin-bottom: 0.2em;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

/* responsive mobile  */

@media screen and (max-width: 1000px) {
  Header {
    height: auto;
  }
  .logo {
    height: 8em;
    position: relative;
    bottom: auto;
  }
  .menuhaut {
    float: none;
  }
  .inscrire {
    font-size: 350%;
  }
  .size_m {
    width: 50%;
    border-bottom: gray;
    border-width: 0em 0em 0.1em 0em;
    border-style: solid;
    padding-bottom: 2%;
  }

  .menu {
    font-size: 300%;
    text-align: center;
  }
  .menu li:hover {
    border-top: 0px solid #0065fc;
    border-width: 0em 0em 0.1em 0em;
    border-bottom-color: blue;
    border-style: solid;
  }
  .menu a:hover {
    border-top: 0px;
  }
  h1 {
    font-size: 3.6em;
  }
  .mob {
    font-size: 1.5em;
  }
  .barre_cmpt {
    width: auto;
  }
  .loc {
    width: 3em;
    height: 3em;
    background-color: #f2f2f2;
    border-radius: 40px 0 0 40px;
    font-size: 2em;
  }
  .search_ {
    border: 0;
    height: 3em;
    font-size: 2.3em;
    width: 11em;
  }
  .search {
    height: 5em;
    width: 31em;
    /* font-size: 2em; */
  }

  .txt_filtre2 {
    width: 100%;
    justify-content: normal;
    padding-left: 0;
  }
  .bandeau_filtre {
    height: auto;
    font-size: 3.1em;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }
  .border_filtre {
    border-radius: 45px;
    border-width: 3px;
  }
  .mob2 {
    font-size: 2.5em;
  }
  .hebergement {
    display: flex;
    flex-direction: column-reverse;
  }
  .titre_hebergement {
    font-size: 3em;
  }
  .logo_populaire {
    font-size: 3.5em;
  }

  .size_image_pop {
    height: 24em;
    width: 41%;
    object-fit: cover;
    border-radius: 1em 0 0 1em;
  }
  .txt_pop {
    padding: 5%;
    padding-bottom: 0;
    font-size: 2.5em;
  }
  .star_pop {
    margin-top: 3em;
  }
  .populaire {
    width: 100%;
  }
  .mob3 {
    font-size: 2em;
  }
  .hebergement_mars {
    width: 90%;
    background-color: white;
  }
  .flexbox_warp {
    display: flex;
    flex-direction: column;
  }
  .size_hebergement {
    width: 100%;
    box-shadow: 7px 7px 15px 4px #c1c1c1;
  }
  .size_image {
    height: 20em;
  }
  .grid {
    display: grid;
    height: 97%;
    grid-auto-columns: auto;
    grid-auto-rows: minmax(0%, 16%);
    row-gap: 1%;
    column-gap: 2%;
    padding-right: 2%;
  }
  .img_act,
  .img_act2,
  .img_act3,
  .img_act4,
  .img_act5 {
    height: 85%;
  }
  .centre3 {
    justify-content: none;
    align-items: center;
    display: flex;
    padding: 1.5%;
    font-size: 2em;
  }
  .Activiter {
    height: 200em;
  }
  .port {
    grid-column: 1;
    grid-row: 1;
  }
  .fort {
    grid-column: 1;
    grid-row: 2;
  }

  .parc_nat {
    grid-column: 1;
    grid-row: 3;
  }

  .la_garde {
    grid-column: 1;
    grid-row: 4;
  }

  .iles {
    grid-column: 1;
    grid-row: 5;
  }

  .parc_long {
    grid-column: 1;
    grid-row: 6;
  }
  .menubas {
    display: flex;
    flex-direction: column;
  }
  footer {
    margin-top: 2%;
    height: auto;
    background-color: #f2f2f2;
    font-size: 1.3em;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1050px) {
  h1 {
    font-size: 2em;
  }
  .mob {
    font-size: 1.5em;
  }
  .barre_cmpt {
    width: auto;
    margin-top: 1em;
    margin-top: 4em;
  }
  .txt_filtre2 {
    width: auto;
    justify-content: normal;
    padding-left: 0;
  }
  .bandeau_filtre {
    height: auto;
    font-size: 1.5em;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }
  .border_filtre {
    border-radius: 45px;
    border-width: 2px;
  }
  .mob2 {
    font-size: 1.5em;
  }
  .hebergement {
    display: flex;
  }
  .titre_hebergement {
    font-size: 2em;
  }
  .logo_populaire {
    font-size: 2.5em;
  }

  .size_image_pop {
    height: 15em;
    width: 61%;
    object-fit: cover;
    border-radius: 1em 0 0 1em;
  }
  .txt_pop {
    padding: 5%;
    padding-bottom: 0;
    font-size: 1em;
  }
  .star_pop {
    margin-top: 3em;
  }
  .populaire {
    width: 30%;
  }
  .mob3 {
    font-size: 1.4em;
  }
  .hebergement_mars {
    width: 100%;
    background-color: white;
  }
  .flexbox_warp {
    display: flex;
  }
  .size_hebergement {
    width: 45%;
    box-shadow: 7px 7px 15px 4px #c1c1c1;
  }
  .size_image {
    height: 20em;
  }
  .grid {
    display: grid;
    height: 97%;
    grid-auto-columns: auto;
    grid-auto-rows: minmax(0%, 31%);
    row-gap: 2%;
    column-gap: 2%;
    padding-right: 2%;
  }
  .img_act,
  .img_act2,
  .img_act3,
  .img_act4,
  .img_act5 {
    height: 85%;
  }
  .centre3 {
    justify-content: none;
    align-items: center;
    display: flex;
    padding: 1.5%;
    font-size: 1.5em;
  }
  .Activiter {
    height: auto;
  }
  .port {
    grid-column: 1;
    grid-row: 1;
  }
  .fort {
    grid-column: 1;
    grid-row: 2;
  }

  .parc_nat {
    grid-column: 2;
    grid-row: 1;
  }

  .la_garde {
    grid-column: 2;
    grid-row: 2;
  }

  .iles {
    grid-column: 1;
    grid-row: 3;
  }

  .parc_long {
    grid-column: 2;
    grid-row: 3;
  }
  .menubas {
    display: flex;
  }
  footer {
    margin-top: 0%;
    height: auto;
    background-color: #f2f2f2;
    font-size: 1em;
  }

  #menuhebergement,
  #apropo,
  #assistance {
    float: left;
    margin-right: 10%;
    list-style: none;
  }
  #apropo li a,
  #menuhebergement li a,
  #assistance li a {
    text-decoration: none;
    font-weight: normal;
  }
  .sec_menubas {
    font-weight: 900;
    margin-bottom: 0.2em;
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
  }
}
