.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.neutre {
  text-decoration: none;
  color: black;
}

.centre2 {
  display: flex;
  align-items: center;
}

.centre_left {
  display: flex;
}

body {
  margin-left: 2em;
  margin-right: 2em;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
/* classe du header */
header {
  position: relative;
  height: 5em;
}

.logo {
  position: absolute;
  bottom: 0;
  height: 3em;
}

.menuhaut {
  float: right;
  width: auto;
  margin-top: 2%;
}

.menu li {
  display: inline;
}

.menu li a {
  padding: 40px 20px;
  color: black;
  text-decoration: none;
}

.menu a:hover {
  border-top: 1px solid #0065fc;
  color: blue;
}

#menuhebergement,
#apropo,
#assistance {
  float: left;
  margin-right: 10%;
  list-style: none;
}

#apropo li a,
#menuhebergement li a,
#assistance li a {
  text-decoration: none;
  font-weight: bold;
}

#apropo li,
#menuhebergement li,
#assistance li {
  margin-bottom: 10px;
}

/* barre de recherche  */
.Recherche {
  width: auto;
  height: auto;
  margin-bottom: 2%;
}

.barre_cmpt {
  width: 19em;
  margin-top: 1em;
}

.loc {
  width: 3em;
  height: 3em;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
}

.search {
  height: 3em;
  width: 15em;
}

.submit {
  height: 2em;
}

.bt {
  height: 3em;
  border-radius: 0 10px 10px 0;
  border: 0;
  background-color: #0065fc;
  color: white;
}

/* classe pour filtre */

.bandeau_filtre {
  height: auto;
}

.size_filtre {
  width: auto;
  height: 2em;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.border_filtre {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 20px;
  border-left-style: none;
}

.border_icone {
  background-color: #deebff;
  width: 4em;
  height: 2.2em;
  border-radius: 1em;
}

.color_bl {
  color: #0065fc;
}

.txt_filtre {
  padding-right: 10%;
  padding-left: 8%;
}

.i_size {
  width: 1.5em;
  height: 1.5em;
  border-color: gray;
  border-width: 1px;
  justify-content: center;
  border-style: solid;
  border-radius: 1em;
}

.border_filtre:hover {
  box-shadow: 3px 2px 1px blue;
}

.ver {
  margin-left: 1em;
}

/* classe pour hebergement */

.hebergement_mars {
  height: 100%;
  width: 70%;
  background-color: #f2f2f2;
  padding: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  border-radius: 1em;
}

.size_hebergement {
  width: 30%;
  height: 10%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.4em;
  border-radius: 1em;
  margin: 1%;
}

.titre_hebergement {
  height: 1em;
  width: 100%;
}

.flexbox_warp {
  display: flex;
  flex-wrap: wrap;
}

.size_image {
  height: 12em;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
  width: 100%;
}

.grey {
  color: grey;
}

/* classe pour les plus populaire  */

.populaire {
  background-color: #f2f2f2;
  width: 30%;
  height: 100%;
  float: right;
  padding: 2%;
  border-radius: 1em;
}
.logo_populaire {
  float: right;
  margin: 0.83em;
  font-size: 1.5em;
  height: 1em;
}

.flex_colum {
  display: flex;
  flex-direction: column;
}

.size_image_pop {
  height: 100;
  width: 50%;
  object-fit: cover;
  border-radius: 1em 0 0 1em;
}

.size_populaire {
  width: 97%;
  height: 10%;
  background-color: white;
  padding: 0.2em;
  border-radius: 1em;
  margin: 1%;
  margin-bottom: 5%;
  display: flex;
}

.star_pop {
  margin-top: 5em;
}

.txt_pop {
  padding: 5%;
  padding-bottom: 0;
}

/* classe pour les activiter  */

.Activiter {
  height: 45em;
  /*grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);*/
}
.grid {
  display: grid;
  height: 90%;
  grid-auto-columns: minmax(20%, 25%);
  grid-auto-rows: minmax(8%, 10%);
  row-gap: 4%;
  column-gap: 2%;
  padding-right: 2%;
}

.size_act {
  border-radius: 1em;
  background-color: white;
}
.port {
  grid-column: 1;
  grid-row: 1/10;
}

.fort {
  grid-column: 2;
  grid-row: 1/7;
  background-color: white;
}

.parc_nat {
  grid-column: 3;
  grid-row: 1/10;
}

.la_garde {
  grid-column: 4;
  grid-row: 1/5;
}

.iles {
  grid-column: 2;
  grid-row: 7/10;
}

.parc_long {
  grid-column: 4;
  grid-row: 5/10;
}

.img_act {
  height: 85%;
  width: 100%;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}
.img_act2 {
  width: 100%;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
  height: 90%;
}
.img_act3 {
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}

footer {
  height: 216px;
  background-color: #f2f2f2;
}

h1 {
  font-weight: 900;
  margin-bottom: 0.2em;
}
h4 {
  margin: 0;
}
p {
  margin: 0;
}

.search {
  height: 3em;
  width: 11em;
}

.search_ {
  border: 0;
  height: 3em;
}

.sec_menubas {
  font-weight: 900;
  margin-bottom: 0.2em;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}
