body {
  margin-left: 2em;
  margin-right: 2em;
  font-family: "Raleway", sans-serif;
}

header {
  position: relative;
  height: 5em;
}

#Recherche {
  width: auto;
  height: 270px;
  background-color: blue;
}

#Hebergement {
  height: 635px;
  background-color: green;
}

#Activiter {
  height: 534px;
  background-color: hotpink;
}

footer {
  height: 216px;
}

#menuhaut {
  float: right;
  width: auto;
}

aside {
  background-color: lemonchiffon;
  width: 33%;
  height: 535px;
  float: right;
}

.logo {
  position: absolute;
  bottom: 0;
  margin-left: 2em;
  height: 5em;
}

.menu li {
  display: inline;
}

.menu li a {
  padding: 10px 20px;
  color: #0065fc;
  text-decoration: none;
}

.menu a:hover {
  border-top: 1px solid #0065fc;
}

#menuhebergement,
#apropo,
#assistance {
  float: left;
  margin-left: 10%;
  list-style: none;
}

#apropo li a,
#menuhebergement li a,
#assistance li a {
  text-decoration: none;
}

#apropo li,
#menuhebergement li,
#assistance li {
  margin-bottom: 10px;
}
